# Temporarily exclude largest image folders
sources/referencie/Bioplynova*
sources/referencie/Vystavba*
sources/referencie/Polnohospodarsky*
sources/referencie/Pristavba*
sources/referencie/Nadstavba*
sources/referencie/Rekonstrukcia*
sources/referencie/PVOD*
sources/referencie/Kupelny*
sources/referencie/Obchodny*
sources/referencie/ON*
sources/referencie/Sklad*
sources/referencie/Tenisova*
sources/referencie/Rodinny*
sources/referencie/Novostavba*
sources/referencie/Prestavba*

# Keep smaller folders for now